<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:57</td>   <td>8425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:58</td>   <td>9456</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:38</td>   <td>-10094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach(java.lang.reflect.Method)[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:50</td>   <td>1535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach(java.lang.reflect.Method)[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/06/17 12:40:43</td>   <td>-5464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderDemo.loginActitime(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">loginActitime</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/06/17 12:40:53</td>   <td>4169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderDemo.loginActitime(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">loginActitime</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/06/17 12:40:36</td>   <td>-12687</td> <td title="&gt;&gt;BaseTest.updateLog4jLogfileConfig()[pri:0, instance:com.ActiTime.www.DataProviderDemo@464bee09]">&gt;&gt;updateLog4jLogfileConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
</table>
