<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>AppTest.maximizeActiTimeApp()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]<br/>Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@224edc67]<br/></td></tr>
<tr><td>Smoke</td><td>AppTest.openActiTimeApp()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]<br/>Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@224edc67]<br/></td></tr>
</table>
